.MultiSelect{
  background: white;
  width: 209px;
  //overflow: hidden;

  @media (max-width: 600px) {
    //width: calc(100% - 15px);
    width: 100%;


  }
  position: relative;
  border-radius: 2px;
}
.InputOpened{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.Search{
  width: 100%;
  box-sizing: border-box;
  input{
    border-radius: 2px;
    //width: calc(100% - 17px);

    width: calc(100% - 44px);
    overflow: hidden;

    height: 35px;

    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    border: none;
    /* or 100% */

    letter-spacing: -0.015em;
    font-family: "Futura Light";
    padding-left: 12px;

    &:focus, &:focus-visible{
      outline: none;
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    input:focus-visible{
      outline: none;
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      box-shadow: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      box-shadow: none !important;
      border: 1px solid #D48 !important;

    }
  }
}

.List{
  position: absolute;
  z-index: 999999;
  background: white;
  width: 100%;

  height: auto;
  max-height: 170px;
  //margin-bottom: 2em;
  //overflow: scroll;
}

.IsOpenIcon{
  position: absolute;
  top: 10px;
  right: 8px;

}

.rotated{
  //transform: rotate(0deg);
  transform: rotate(180deg);
}

.Label{
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* or 120% */

  letter-spacing: -0.015em;
}

.Counter{
  background: rgba(84, 84, 84, 0.9);
  border-radius: 2px;
  line-height: 8px;
  span{
    position: relative;
    right: 1px;
    font-size: 9px;

  }

  color: #FFFFFF;
  font-family: "Futura Light";
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ListItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px;
  cursor: pointer;
  padding-right: 16px;

  @media (max-width: 600px) {
    //padding-right: 30px;
    padding-right: 17px;

  }


  padding-left: 9px;
  font-family: "Futura Light";
}

.LeftPart{
  display: flex;
  align-items: center;
  width: 155px;
  input{
    margin-right: 5px;
  }

  .CheckBoxCont{
    width: 16px;
    padding-right: 3px;
    display: flex;
    align-items: center;
  }
}
.BottomLine{
  width: 100%;
  border-bottom: 1px solid #D9D9D9;
  width: calc(100% - 24px);
  position: relative;
  left: 12px;
}



