@import "./SizeVars";

.HeaderContainer {
  background: #35219A;
  display: flex;
  justify-content: center;
  @media (max-width: 1000px) {
    height: 63px;
    align-items: center;
  }
}

.Header {
  max-width: $mainWidth;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 125px;
  @media (max-width: 1000px) {
    height: 63px;
  }
  justify-content: flex-start;
  //background: #00AB34;

  @media (max-width: 1180px) {
    padding: 0 20px;
  }

  @media (max-width: 1000px) {
    justify-content: space-between;
  }

  @media (max-width: 1000px) {
    justify-content: start;
    padding-right: 10px;
  }
}


.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.Button {

  width: calc(100% - 195px);
  @media (max-width: 1000px) {
    width: calc(100% - 125px);
    left: 0;

  }
  max-width: 900px;
  min-width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 14px;
  button {
    letter-spacing: -0.015em;
    position: relative;
    left: -17px;
    top: -3px;

    @media (max-width: 1000px) {
      top: 0;
      left: 0;
    }

    padding-left: 0px;
    cursor: pointer;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    //line-height: 31px;
    //letter-spacing: -0.015em;

    color: #35219A;
    background: #FFD200;

    &:hover{
      color: white;
      background: #00AB34;
    }

    border-radius: 6px;
    border: none;
    height: 53px;
    width: 100%;
    display: block;

    @media (max-width: 1000px) {
      height: 30px;
    }

    @media (max-width: 1000px) {
      font-size: 15px;
      margin-right: 10px;
      height: 28px;
      //width: 125px;
      width: 140px;
      padding-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

}

.RightPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  right: -5px;
  @media (max-width: 1000px) {
    justify-content: center;
  }
}


.Menu {
  ul {
    //max-width: 1048px;
    max-width: 1039px;
    position: relative;
    left: -1px;
    @media (max-width: 1000px) {
      display: none;

    }
    padding: 0;
    margin: 13px 0 18px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Futura PT';

    li {
      font-size: 18px;
      padding: 3px 5px 3px 2px;

    }

    //li:nth-child(1) {
    //  -webkit-transition: all 0.3s ease;;
    //  -moz-transition: all 0.3s ease;;
    //  -o-transition: all 0.3s ease;;
    //  transition: all 0.3s ease;
    //
    //  &:hover {
    //    box-shadow: inset 0 0 0 1px white;
    //
    //    a {
    //      text-decoration: none;
    //
    //    }
    //
    //  }
    //
    //  padding: 3px 5px;
    //  border-radius: 4px;
    //}

    li:nth-child(4){
      position: relative;
      right: -6px;
    }

    li {
      -webkit-transition: all 0.3s ease;;
      -moz-transition: all 0.3s ease;;
      -o-transition: all 0.3s ease;;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: inset 0 0 0 1px #FFD200;

        a {
          color: #FFD200;
          text-decoration: none;

        }
      }

      padding: 3px 5px;
      border-radius: 4px;
    }
    //
    //li:nth-child(3) {
    //  -webkit-transition: all 0.3s ease;;
    //  -moz-transition: all 0.3s ease;;
    //  -o-transition: all 0.3s ease;;
    //  transition: all 0.3s ease;
    //
    //  &:hover {
    //    box-shadow: inset 0 0 0 2px #00AB34;
    //
    //    a {
    //      color: #FFD200;
    //      text-decoration: none;
    //    }
    //  }
    //
    //  padding: 3px 5px;
    //  border-radius: 4px;
    //}
    //
    //li:nth-child(4) {
    //  -webkit-transition: all 0.3s ease;;
    //  -moz-transition: all 0.3s ease;;
    //  -o-transition: all 0.3s ease;;
    //  transition: all 0.3s ease;
    //
    //  &:hover {
    //
    //    a {
    //      color: #FFD200;
    //      text-decoration: none;
    //
    //    }
    //  }
    //
    //  padding: 3px 5px;
    //  border-radius: 4px;
    //}


    li {

      font-size: 18px;
      @media (max-width: 1180px) {
        margin-right: 20px;
        font-size: 14px;

      }

      //margin-right: 26px;

      a {
        color: #FFFFFF;
        text-decoration: none;

        &:hover {
          //text-decoration: underline;

        }
      }

    }
  }
}

.Phone {
  padding: 0 0 0 28px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 20.5px;
  line-height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: -5px;
  left: -10px;

  @media (max-width: 1000px) {
  }


  a {
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: #FFD200;;
    }
  }

  @media (max-width: 1000px) {
    font-size: 15px;
    top: 0;
    left: 10px;

  }

  @media (max-width: 1000px) {
    padding: 0;
  }

  @media (max-width: 358px) {
    font-size: 10px;
  }

}


.Logo {
  //margin-right: 19px;
  margin-right: 31px;
  @media (max-width: 1000px) {
      margin-right: 0px;
  }
  //margin-left: 26px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  // bottom: -10px;
  bottom: 0;


  img{
    position: relative;
    top: -13px;
    max-height: 98px;;

    @media (max-width: 1180px) {
      top: -18px;

    }  
    @media (max-width: 1000px) {
    max-height: 48px;;

      top: -8px;

    }


  }
  // @media (max-width: 600px) {
  //   bottom: 0px;

  // }
  //   left: -4px;

  // @media (max-width: 1000px) {
  //   margin-right: 0px;

  //   img {
  //     width: 50px;
  //     height: 50px;
  //   }

  // }

  // @media (max-width: 1000px) {
  //   margin-right: 7px;
  //   img {
  //     width: 42px;
  //     height: 57px;
  //   }

  // }
}


.Content {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (max-width: 1000px) {
    flex-direction: row;

  }
}
