.Form{
  padding: 10px 40px;
  z-index: 99999;
  border-radius: 6px;

  @media (max-width: 500px) {
    padding: 10px 10px;

  }

  h1{
    margin: 0 0 .5em  0;
    padding: 0;

    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #000000;
  }

  p{

    font-family: 'Futura Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0 0 .6em 0;
  }

  .Rating{
    margin: 0 0 .6em 0;

  }

  .BtnCont{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  button{
    background: #00AB34;
    border-radius: 4px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 12px;
    color: white;
    padding: 21px 33px;
    border: none;
    width: 169px;
    height: 55px;

  }

  input[type=file]{
    background: #FFFFFF;
    border: 1px solid #35219A;
    border-radius: 4px;
  }
}

.Text{
  width: calc(100% - 20px);
  height: 150px;
  background: #F5F5F5;
  border: 1px solid rgba(84, 84, 84, 0.21);
  border-radius: 6px;
  padding: 10px;
  font-family: 'Futura Light';
  margin-bottom: 2em;

}

.UploadBtn{
  border: 1px solid #35219A;
  border-radius: 4px;
  width: 309px;
  height: 55px;
  color: #35219A;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.Footer{
  display: flex;
  justify-content: space-between;
  @media (max-width: 500px) {
    flex-direction: column;

  }
  p{
    margin-top: .7em;
  }
}

.CloseBtn{
  cursor: pointer;
  position: absolute;
  top: 15px;
  right:15px;
}

.Counter{
  position: absolute;
  right: 10px;
  bottom: 44px;
  font-size: 20px;


  color: rgba(0, 0, 0, 0.34);
}
.FileName{
  font-family: 'Futura Light';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */


  color: #35219A;

}

@media (max-width: 600px) {
  .FileName{
    font-size: 20px;
  }

  .UploadBtn{
    font-size: 20px;
  }
}