.Container {

  display: flex;
  justify-content: center;
  //flex-direction: column;


  @media (max-width: 1000px) {
    //height: 63px;
    align-items: center;
    margin: 20px;


    ul{
      padding: 0;
    }
  }


  @media (max-width: 1000px) {
    //height: 63px;
    align-items: center;
  }

  >div{
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  p{
    border-left: 2px solid #FFD200;
    padding: 5px 0 5px 30px;
    max-width: 700px;
    font-family: "Futura Light";
    font-size: 24px;
  }


  h3 {

    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 28px;


  }
}

.BG{
  background: #EEEEEE;
  padding: 2em 0;
}


.H3Line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3{
    font-size: 22px !important;
    line-height: 130% !important;
  }
  >svg{
    display: none;
    @media (max-width: 600px) {
      display: block;
      min-height: 148px;
    }
  }
}