.Container {

  display: flex;
  justify-content: center;
  //flex-direction: column;

  @media (max-width: 600px) {
    margin-top: 0px !important;
  }

  @media (max-width: 1000px) {
    //height: 63px;
    align-items: center;
    margin: 20px;


    ul {
      padding: 0;
    }
  }


  @media (max-width: 1000px) {
    //height: 63px;
    align-items: center;
  }

  > div {
    max-width: 977px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  p {
    border-left: 2px solid #FFD200;
    padding: 0px 0 5px 30px;
    max-width: 700px;
    font-family: "Futura MediumC";
    font-size: 24px;
    >span{
      color: #35219A;
    }
    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 140%;
      padding: 0px 0 5px 15px;

    }

    margin-top: 0;
  }


  h3 {

    font-family: 'Futura Heavy';
    font-size: 32px;
    @media (max-width: 600px) {
      font-size: 22px;

    }
    font-weight: bold;

    font-style: normal;
    line-height: 28px;

    margin-bottom: 0;

  }
}

.BG {
  background: #EEEEEE;
  padding: 2em 0;
  margin-top: 1em;
  @media (max-width: 600px) {
    padding-top: 0px;
  }
}


.H3Line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  h3 {
    //font-size: 22px !important;
    line-height: 130% !important;
    padding-bottom: 1em;



  }

  > span {
    max-width: 200px;
    position: absolute;
    right: 0;
    @media (max-width: 600px) {
      position: relative;
      svg{
        height: 120px;
      }
    }

      > svg {
      width: 100%;

      //display: none;
      @media (max-width: 600px) {

        display: block;
        min-height: 148px;
      }
    }
  }

}