.Container {
  background: white;
  display: flex;
  justify-content: center;
  //flex-direction: column;

  @media (max-width: 1000px) {
    //height: 63px;
    align-items: center;

    align-items: center;
    margin: 20px;


    ul{
      padding: 0;
    }
  }
  @media (max-width: 1000px) {
    //height: 63px;
    align-items: center;
  }

  > div {
    //max-width: 900px;
    max-width: 977px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }




  h3 {

    font-family: 'Futura Heavy';
    font-style: normal;
    font-weight: 400;
    //font-size: 34px;
    font-size: 38px;
    @media (max-width: 600px) {
      font-size: 22px;
      padding-top: 0;
      margin-top: 0;

    }

    padding-bottom: 1em;
    line-height: 38px;



  }

  p{
    font-family: "Futura Light";
    font-size: 24px;
  }

  ul{
    list-style: none;
    li{
      font-size: 24px;
      font-family: "Futura Light";
      margin-bottom: 1em;
      svg{
        padding-right: 20px;
        position: relative;
        top: 5px;

      }
    }
  }
}


.H3Line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3{
    //font-size: 24px !important;
    //line-height: 130% !important;
  }

  >span{
    min-width: 35%;
    display: none;

    @media (max-width: 600px) {
      //display: block;
      min-height: 148px;
      display: none;

      >svg{
        display: none;

        width: 100%;
      }
    }
  }
}
