.Openable{
  cursor: pointer;
  max-width: 960px;
  width: calc(100% - 110px);
  height: fit-content;
  background: #EEEEEE;
  border-radius: 6px;
  padding: 20px 55px;
  >a{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (max-width: 600px) {
    width: calc(100% - 40px);


    line-height: 14px;
    padding: 14px 20px;

  }


  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  span{
    font-family: 'Futura PT';
    font-style: normal;
    font-size: 24px;
    line-height: 28px;


    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 17px;

    }
      /* or 117% */


    color: #000000;
  }

  a{
    width: 27px;
    display: block;
    svg{
      position: relative;
      top: 3px;
    }
  }

  &.Opened{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.Opened {
  //width: 960px;
  height: fit-content;
  width: calc(100% - 110px);
  background: #EEEEEE;
  border-radius: 6px;
  padding: 20px 55px;


  @media (max-width: 600px) {
    width: calc(100% - 40px);


    line-height: 16px;
    padding: 14px 20px;

  }
  border-top: 1px solid white;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  font-family: "Futura Light";

}