@import "./../layout/SizeVars";


.Container{
  background: white;
  display: flex;
  justify-content: center;
  //overflow-y: hidden;
}



.Slide{
  position: relative;
  max-width: $mainWidth;
  height: 380px;
  width: 100%;

  @media (max-width: 1000px) {
      &{
        display: flex !important;
        justify-content: center;
      }
      .Card:nth-child(4), .Card:nth-child(3), .Card:nth-child(5), .Card:nth-child(2){
        display: none;
      }

    .Card:nth-child(1){
      position: relative;
      top: 0 !important;
      right: 0;
    }

  }

  a{
    position: absolute;
    bottom: 35px;
    left: 10px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 32px;
    color: #000000;
  }
}

.Card{
  position: absolute;
}

.CardContent{
  border-left: 1px solid #FFD200;;
  padding-left: 13px;
}

.Info{
  text-decoration: none;
  &:hover{
    //text-decoration: underline;
  }
}