@import "./../layout/SizeVars";


.Container {
  position: relative;
  background: white;
  display: flex;
  justify-content: center;
  //overflow-y: hidden;
}


.Slide {
  position: relative;
  max-width: $mainWidth;
  height: 380px;
  width: 100%;

  @media (max-width: 1000px) {
    & {
      display: flex !important;
      justify-content: center;
    }
    .Card:nth-child(4), .Card:nth-child(3), .Card:nth-child(5), .Card:nth-child(2) {
      display: none;
    }

    .Card:nth-child(1) {
      position: relative;
      top: 0 !important;
      right: 0;
    }

  }

  a {
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 32px;
    color: #000000;
    @media (max-width: 1000px) {
      font-size: 24px;
    }
  }
}

.Card {
  position: absolute;
}

.CardContent {
  border-left: 1px solid #FFD200;
  padding-left: 13px;
  opacity: 0.6;
}

.Info {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;

  .Icon {
    width: 20px;
    height: 16px;
  }


  p {
    margin-right: 17px;
    @media (max-width: 1000px) {
      font-size: 17px;
    }
  }

  &:hover {
    //text-decoration: underline;
  }
}

.Slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 310px;
  width: 100%;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 37px;
    border-radius: 6px;
    background: #FFD200;
    border: none;
  }

  .card {
    //position: absolute;
    //top: -90px;
    //left: 15%;
    //right: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .CardContent {
      margin: 55px auto 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;

      span {
        font-size: 32px;
      }
    }
  }

  .about {
    margin-top: 0em;
    margin-bottom: 2em;
    //position: absolute;

    a{
      justify-content: center;
    }
    p {
      margin: 0 17px 0 0;
      font-weight: 450;
      font-size: 24px;
      line-height: 32px;
      color: #000000;
    }

  }
}

.switch {
  width: 100%;
  position: absolute;
  top: 97px;


}


.prev {
  position: absolute;
  left: 5px;
  bottom: 83px;
  z-index: 9999;
}

.next {
  position: absolute;
  right: 5px;
  bottom: 83px;
  z-index: 9999;

}

.Svg1{
  //-webkit-mask: url(/i/slide41.svg) no-repeat center;
  //mask: url(/i/slide41.svg) no-repeat center;
  background-image: url(/i/slide41.svg);
  width: 200px;
  height: 200px;
}