html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Futura PT';
}

@font-face {
  font-family: 'Futura PT';
  font-weight: 300;
  font-style: normal;
  //src: url('/f/FuturaPT/FuturaPT-Heavy.woff');
  src: url('/f/FuturaPT/FuturaPT-Medium.woff');
  //src: url('/f/FuturaPT/FuturaPT-Light.woff');
}

@font-face {
  font-family: 'Futura Light';
  //src: url('/f/FuturaPT/FuturaPT-Heavy.woff');
  src: url('/f/FuturaPT/FuturaPT-Light.woff');
  //src: url('/f/FuturaPT/FuturaPT-Light.woff');
}


@font-face {
  font-family: 'Futura PT2';
  src: url('/f/FuturaPT/FuturaPT-MediumObl.woff');
}

@font-face {
  font-family: 'Futura Heavy';
  src: url('/f/FuturaPT/FuturaPT-Heavy.woff');
}


a.bm-item-list {

  display: flex;
  align-items: center;

  //display: block;
  //display: block;
  color: white;
  margin-bottom: 1em;
  font-family: 'Futura PT';
  text-decoration: none;
  padding: 5px;

  //max-width: calc(100% - 50px);
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
  border-radius: 4px;


  > span{
    display: inline-block;
    width: min-content;
    min-width: 94px;

  }
  svg{
    width: 60px;
    display: inline-block;
    fill: white;
  }


  //&:hover {
  //  border-bottom: 3px solid #FFFFFF;
  //  color: #FFD200;
  //}


  &:hover {
    box-shadow: inset 0 0 0 1px  #FFD201;

      color: #FFD201 !important;
      text-decoration: none;

    svg{
      fill: #FFD201 !important;
    }
  }

}

.bm-burger-button {
  display: none;
  @media (max-width: 1000px) {
    display: unset;

  }
}

.bm-menu-wrap{
  z-index: 121100;
}

.popup-overlay{
  justify-content: center;
}