.Container {
  background: white;
  display: flex;
  justify-content: center;
  //flex-direction: column;
  @media (max-width: 1000px) {
    //height: 63px;
    align-items: center;

    align-items: center;
    margin: 20px;


    ul{
      padding: 0;
    }
  }

  > div {
    max-width: 977px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }




  h3 {


    font-style: normal;
    font-family: 'Futura MediumC';
    font-size: 34px;
    @media (max-width: 600px) {
      width: 60%;
      font-size: 22px;
      margin-top: 3em;

    }


  }

  p {
    //font-family: "Futura Light";
    font-family: 'Futura MediumC';

    font-size: 24px;
    @media (max-width: 600px) {
      margin-top: 0;
      font-size: 16px;

    }
  }

  ul{
    list-style: none;
    padding-left: 0;
    padding-bottom: 1em;
    li{
      display: flex;
      font-size: 24px;
      @media (max-width: 600px) {
        font-size: 14px;

      }
        //font-family: "Futura Light";
      font-family: 'Futura MediumC';

      margin-bottom: 1em;
      svg{
        padding-right: 20px;
        position: relative;
        top: 5px;

      }
    }
  }
}


.H3Line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3{
    //font-size: 22px !important;
    //line-height: 130% !important;
  }

  padding-top: 4em;
  @media (max-width: 600px) {
    padding-top: 0em;

  }
    padding-bottom: 1em;
  position: relative;
  >span{
    max-width: 150px;
    position: absolute;
    right: 0;
    @media (max-width: 600px) {
      //top: 50px;
      top: -29px;
    }
      >svg{
      width: 100%;

      //display: none;
      @media (max-width: 600px) {

        display: block;
        min-height: 148px;
      }
    }
  }
}