.Container {
  background: white;
  display: flex;
  justify-content: center;
  //flex-direction: column;
  @media (max-width: 1000px) {
    //height: 63px;
    align-items: center;

    align-items: center;
    margin: 20px;


    ul{
      padding: 0;
    }
  }

  > div {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }




  h3 {

    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 28px;


  }

  p{
    font-family: "Futura Light";
    font-size: 24px;
  }

  ul{
    list-style: none;
    padding-left: 0;
    li{
      font-size: 24px;
      font-family: "Futura Light";
      margin-bottom: 1em;
      svg{
        padding-right: 20px;
        position: relative;
        top: 5px;

      }
    }
  }
}


.H3Line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3{
    font-size: 22px !important;
    line-height: 130% !important;
  }
  >span{
    max-width: 200px;
    >svg{
      width: 100%;

      //display: none;
      @media (max-width: 600px) {

        display: block;
        min-height: 148px;
      }
    }
  }
}