.Container {
  background: white;
  display: flex;
  justify-content: center;
  //flex-direction: column;
  @media (max-width: 1000px) {
    //height: 63px;
    align-items: center;
    margin: 20px;


    ul{
      padding: 0;
    }
  }

  padding-top: 2em;

  @media (max-width: 600px) {
    padding-top: 0em;

    ul {
      margin-bottom: 0;
      margin-top: 0;

      li {
        font-size: 20px !important;
        margin-bottom: 1em !important;
        display: flex;
        >svg{
          top: 0px !important;
          width: 20px !important;
        }
      }
    }


  }

  padding-bottom: 4em;


    >div{
    max-width: 977px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {

    //font-family: 'Futura PT';
    font-family: 'Futura MediumC';
    font-style: normal;
    //font-weight: 500;
    font-size: 38px;
    @media (max-width: 600px) {
      font-size: 30px;

    }

    display: flex;
    align-items: center;

    color: #35219A;
    margin-bottom: 0;
  }

  h3{
    //font-family: 'Futura PT';
    font-style: normal;
    font-family: 'Futura MediumC';
    font-size: 34px;
    @media (max-width: 600px) {
      font-size: 22px;
      margin-top: 3em;

    }
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;

  }

  ul{
    list-style: none;
    padding-left: 0;
    li{
      font-size: 24px;
      font-family: "Futura Light";
      margin-bottom: .3em;
      >div{
        display: inline-block;
      }
      svg{
        padding-right: 20px;
        position: relative;
        top: 0px;

      }
    }
  }
}

.H3Line{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  >span{
    max-width: 200px;
    position: absolute;
    right: 0px;
    @media (max-width: 600px) {

      //position: relative;
      //right: unset;
      //right: 20px;

      top: -30px;

    }
    >svg{
      width: 100%;

      //display: none;
      @media (max-width: 600px) {

        max-width: 150px;

        display: block;
        min-height: 148px;
      }
    }
  }
}