.Slide{
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 450px;
  background: #EEEEEE;
  padding: 30px 0;
  p{
    max-width: 900px;
    //font-family: 'Futura PT';
    font-family: 'Futura Light';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    @media (max-width: 1100px) {
      text-align: center;
      padding: 0 40px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
    }
  }




}